.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#container {
  margin-left: auto;
  margin-right: auto;
}

button.submit {
  background: rgba(71, 95, 114, .4);
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition: background 0.4s;
}

.button:hover {
  background: #2ecfff;
  transition: background 0.4s;
}

button.actions {
  background: #475f72;
  padding: 4px;
  border-radius: 4px;
  transition: background 0.4s;
}

button.actions:hover {
  background: #00c0fa;
  transition: background 0.4s;
}

h1, h2, h3, h4, h5, h6, .editableField.heading, label {
  color: #354b5a;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
}

input[type="url"]:not(placeholder-shown, .demoElement), input[type="tel"]:not(placeholder-shown, .demoElement), input[type="email"]:not(placeholder-shown, .demoElement), input[type="search"]:not(placeholder-shown, .demoElement), input[type="number"]:not(placeholder-shown, .demoElement), input[type="datetime"]:not(placeholder-shown, .demoElement), input[type="datetime-local"]:not(placeholder-shown, .demoElement), input[type="date"]:not(placeholder-shown, .demoElement), input[type="time"]:not(placeholder-shown, .demoElement), input[type="week"]:not(placeholder-shown, .demoElement), input[type="month"]:not(placeholder-shown, .demoElement), input[type="text"]:not(placeholder-shown, .demoElement) {
  border-color: #00c0fa !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: inherit;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.lightBlue {
  color: #00adea;
}

#container-header {
  background: #22303a;
  color: #ffffff;
}

#container-header p {
  width: 80%;
}

.logo__item, .logoPlaceholder {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#container-InputForm, #container-header {
  padding: 60px 50px 60px 50px;
}

#container-RenderImageComparison {
  background: #171e23;
  min-height: 100vh;
}

#container-RenderImageComparison img {
  width: 90%;
  object-fit: contain;
  max-height: 90%;
  display: block;
  text-align: center;
}

#container-image {
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
  height: 100vh;
  /* Set the container height as needed */
}

button.submit.promptLoadOn {
  background: #00c0fa;
  background-color: #00c0fa;
}

button.submit.promptLoadOff {
  display: none;
}

.logo {
  width: 100px;
}

a {
  color: #0099cb;
  border-bottom: 1px solid #0099cb;
}

a:hover {
  color: #00bffe;
  border-color: #00bffe
}